/*fonts*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic);
.group_buttons  button, .group_buttons  a, .no_focus, .purpule a, .purpule button, .modal-header button, .meta_tags a, .meta_tags button{
    outline:none !important;
}
.common_width {
    max-width: 1280px;
    margin: 0 auto;
}
.more_ul {
    list-style-type:none;
    padding: 0;
    margin:0;
}
.more_ul li {
    padding: 5px 0;
    margin: 0;
}
.d_padd {
    padding: 0 50px;
}
.pad_20 {
    padding: 20px;
}
.margin_30_0 {
    margin: 30px 0;
}
.ptSans{
    font-family: 'PT Sans', sans-serif !important
}
.opClear {
    font-family: 'Open Sans Condensed', sans-serif !important;
}
body {
    font-family: 'PT Sans', sans-serif;
    color:#2e2e2e;
}
.no_focus,
.no_focus:active,
.no_focus:link,
.no_focus:focus {
    border: none;
    box-shadow: none;
}
.purpule span:hover, .purpule a:hover {
    color:#cf428e !important;
    text-decoration:none !important;
}

.transition li, .transition li:hover, .transition>div, .transition>div:hover, .transition a, .transition a:hover, .transition span, .transition span:hover{
    transition: 0.7s;
}
.call_as, .call_back {
    font-size: 12px;
    font-weight:bold;
    cursor:pointer;
    padding-left:5px;
}
.call_as:before {
    content: '';
    background: url(../img/call_as.png) center center no-repeat;
    position: relative;
    width: 9px;
    height: 12px;
    margin: 0 3px;
    display: inline-block;
}
.call_back:before {
    content: '';
    background: url(../img/call_back.png) center center no-repeat;
    position: relative;
    width: 6px;
    height: 10px;
    margin: 0 3px;
    display: inline-block;
}
.border_radius_grey {
    border: 1px solid #ecf0f1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.arrow_carusel {
    width: 28px;
    height: 28px;
    display: block;
}
.disc {
    background:#afcb41;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#fff;
    font-weight:bold;
    position: relative;
    display: inline-block;
    padding: 0 5px;
}
.disc:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 13px 0;
    border-color: transparent #afcb41 transparent transparent;
    position:absolute;
    left: 0;
    margin-left: -12px;
}
.rub:after {
    content: " Р";
    font-size: inherit;
    font-weight: inherit;
}
.grey_font {
    font-size: 12px;
    font-weight: bold;
    color:#a8afb2
}
.border_bottom {
    border-bottom: 1px solid #ecf0f1
}
.clear {
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
}
.group_buttons  button, .group_buttons  a{
    padding: 10px 20px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
.group_buttons_min  button, .group_buttons_min  a {
    font-size:14px !important;
    padding: 10px 28px;
}
.group_buttons  button:first-child, .group_buttons  a:first-child {
    margin-right: 5px;
}
.group_buttons  button:last-child, .group_buttons  a:last-child {
    margin-left: 5px;
}
.text {
    font-size: 14px;
    line-height: 22px;
    display: block
}
.underline {
    border-bottom: 1px solid #ecf0f1
}
.underline_two {
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1
}
.min_header {
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    display:block;
}
.purpule_button, .purpule_button:link, .purpule_button:focus {
    background: #cc3586;
    color:#fff !important;
    border: 1px solid #cc3586;
    text-decoration: none !important
}
.purpule_button:hover {
    background:#df4d9b;
    border: 1px solid #cc3586;
}
.purpule_button:active {
    border: 1px solid rgba(0,0,0,0.75);
    background:#df4d9b;
    -webkit-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: inset 0 2px 5px -2px rgba(0,0,0,0.75);
}
.purpule_button.shut_off {
    background: #cc3586 !important;
    color:#fff !important;
    border: 1px solid #cc3586 !important;
    text-decoration: none !important
}
.shut_off {
    opacity:0.5;
    cursor: default;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.head_form {
    font-size: 18pt;
    font-weight:bold;
    font-family: 'PT Sans', sans-serif
}
.modal-content .purpule_button {
    margin: 0 !important;
}
.remeber {
    color:#cf428e !important;
    font-size: 14px !important;
    cursor:pointer !important;
}
.tbl{
    display: table;
    width: 100%;
}
.tbc {
    display: table-cell;
}
/*header*/
.bl_basket, .topMenu, .towns, .bl_logo, .call_phone, .form_search, .oClock  {
    display: table-cell;
    vertical-align:top;
}
.bl_basket {
    width: 345px;
}
.navbar-default {
    background: none !important;
    border: none !important;
}
.topMenu {
    width: 340px
}
.topMenu .nav>li>a {
    padding-right: 15px;
    padding-left: 0;
}
.choose_town {
    position: relative;
}
.top_menu .dropdown-menu>li>a {
    font-size:14px;
    font-weight:bold !important;
}
.top_menu .dropdown-menu {
    left: auto;
    right: 0;
}
.top_menu .navbar {
    margin:0px
}
.town {
    padding:15px 0;
    display: inline-block;
    position: relative;
}
.town:before {
    content: '';
    background: url(../img/your_town.png) center center no-repeat;
    position: relative;
    width: 9px;
    height: 12px;
    margin: 0 3px;
    display: inline-block;
}

.choose_town {
    cursor:pointer;
}
.choose_town:after {
    content: '';
    background: url(../img/arrow_town.png) center center no-repeat;
    position: relative;
    width: 9px;
    height: 5px;
    margin: 0 3px;
    display: inline-block;
}
.choosen {
    padding: 17px 10px;
    border-color:#f1f1f1;
    min-width: 640px !important;
    left: 0 !important;
    top: 0 !important;
}
.choosen li span {
    font-weight: normal;
    outline:none;

}
.choosen .towns {
    min-width: 100% !important;
    display:block;
}
.choosen_town {
    list-style-type: disc;
    list-style-position: inside;
    cursor: default !important;
}
.choosen_town span{
    font-weight: bold !important;
}
.choosen .choose_town:after {
    -moz-transform: rotate(180deg); /* ��� Firefox */
    -ms-transform: rotate(180deg); /* ��� IE */
    -webkit-transform: rotate(180deg); /* ��� Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* ��� Opera */
    transform: rotate(180deg);
}
.choosen .towns {
    padding: 0 0 0 15px;
    margin: 0 -15px;
}
.choosen .town {
    padding: 0 0 10px;
}
.choosen  .row {
    padding: 5px 20px 0;
}
.choosen .more_ul {
    width: 20%;
    float: left;
}
.choosen .more_ul li {
    padding: 0;
    cursor: pointer;
}
.choosen .choose_town {
    cursor: default !important
}
.fast_search {
    background:#fff;
    max-width:318px;
    width: 100%;
    position:absolute;
    margin-top: -2px;
    border-top: none;
    border: 1px solid #bbc3c6;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 9;
    display:none;
}
.fast_search  ul{
    list-style-type: none;
    padding: 8px 7px;
    margin: 0;
}
.fast_search  ul li {
    margin:0;
    padding: 5px 7px;
    font-size: 14px;
}
.fast_search  ul li span {
    font-weight: normal !important;
    cursor: pointer;
}
/*second*/
.info_head {
    padding:15px 50px;
    width: 100%;
}
.bl_logo {
    width: 305px;
}
.call_phone{
    width: 233px;
}
.form_search {
    width: 380px;
}
.info_head .oClock {
    padding: 28px 0 0 25px;
}
.oClock {
    font-size: 12px;
    line-height:20px;
}
.info_head .logo{
    margin: 15px 0 0 15px;
    display: block;
    width: 221px;
    float: left;
}
.logo img {
    width: 100%;
}
.flag {
    background-color:#cc3586;
    background-image: url(../img/flag.jpg);
    background-repeat:no-repeat;
    background-position: center bottom;
    color:#ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 5px 15px 10px 15px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 55px;
    float: right;
    margin: 0 0 0 10px;
}
.flag b{line-height: 25px;}
.flag .archive {
    font-size: 40px;
}
.main_search {
    padding: 0 20px;
}
.info_head .main_search .input-group{
    margin-top: 23px;
}
.main_search  .input-group{
    width: 100%;
}
.main_search input {
    border-right:none;
    border-color:#bbc3c6;
    box-shadow: none !important
}
.main_search button {
    border-left:none;
    border-color:#bbc3c6;
}
.main_search input:focus, .main_search button:focus{
    box-shadow: none;
    border-color:#bbc3c6;
}
.main_search button:hover {
    background: none;
    border-color:#bbc3c6;
}
.oClock:before {
    content: '';
    background: url(../img/clock.png) center center no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    margin: 9px 0 0 -26px;
    display: block;
}
.info_head .big_phone  {
    margin-top:18px;
    color:#2e2e2e;
}
.big_phone {
    display: block;
    font-size:29px;
}
.call_as, .call_back {
    font-size: 12px;
    font-weight:bold;
    cursor:pointer;
    padding-left:5px;
}
.call_as:before {
    content: '';
    background: url(../img/call_as.png) center center no-repeat;
    position: relative;
    width: 9px;
    height: 12px;
    margin: 0 3px;
    display: inline-block;
}
.call_back:before {
    content: '';
    background: url(../img/call_back.png) center center no-repeat;
    position: relative;
    width: 6px;
    height: 10px;
    margin: 0 3px;
    display: inline-block;
}
.border_radius_grey {
    border: 1px solid #ecf0f1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.arrow_carusel {
    width: 28px;
    height: 28px;
    display: block;
}
.disc {
    background:#afcb41;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#fff;
    font-weight:bold;
    position: relative;
    display: inline-block;
    padding: 0 5px;
}
.disc:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 13px 0;
    border-color: transparent #afcb41 transparent transparent;
    position:absolute;
    left: 0;
    margin-left: -12px;
}
.grey_font {
    font-size: 12px;
    font-weight: bold;
    color:#a8afb2
}
.border_bottom {
    border-bottom: 1px solid #ecf0f1
}
.clear {
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
}
.group_buttons  button, .group_buttons  a{
    padding: 10px 20px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
.group_buttons_min  button, .group_buttons_min  a {
    font-size:14px !important;
    padding: 10px 28px;
}
.group_buttons  button:first-child, .group_buttons  a:first-child {
    margin-right: 5px;
}
.group_buttons  button:last-child, .group_buttons  a:last-child {
    margin-left: 5px;
}
/*end header*/
/*owl-carusel*/
.owl-left, .owl-right {
    top: 50%;
    margin-top:-14px;
    position: absolute;
}
.owl-left  {
    background:url('../img/arrow_left.png') center center no-repeat;
    left: 14px;
}
.owl-right {
    background:url('../img/arrow_right.png') center center no-repeat;
    right: 14px;
}
.carousel_height {
    height: 420px;
}
.carousel_item {
    height: 370px;
    margin: 30px -20px 70px;
    padding: 0 39px;
}
.carousel_header {
    font-size: 30px;
    font-weight: bold;
}
.owl-href  {
    margin-bottom:10px;
}
.owl-href a {
    font-size: 16px;
}
.owl-img {
    position: relative;
    margin-bottom: 15px;
}
.owl-hit, .owl-credit  {
    font-size: 10px;
    font-weight: bold;
    text-transform:uppercase;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px;
    z-index: 999;
    position:relative;
}
.owl-hit {
    background:#ff4a0b;
}
.owl-credit {
    background:#afcb41
}
.owl-img .owl-hit {
    position:absolute;
    margin: 4px 0 0 2px
}
.owl-img .owl-credit {
    position:absolute;
    margin: 22px 0 0 2px;
}
.owl-img img {
    position: relative;
    z-index: 1;
    width: 100%;
}
.owl-item .big_cost {
    font-size: 22px;
}
.owl-item .grey_font {
    font-size: 10px;
}
/*slider_of_main*/
.slider_of_main {
    position:relative;
    height: 650px
}
.slider_of_main .item.ad {
    background-repeat:no-repeat;
    background-size: cover;
    height: 590px;
    width: 100%;
}
.ad img {
    position:relative;
    z-index:7;
}
/*end owl-carusel*/
/*bot_form*/
.bot_form {
    background: url('../img/bg_form.jpg');
}
.bot_form label {
    font-size: 16px;
}
.bot_form .form-control {
    width: 300px;
    margin: -3px 10px 0 18px;
}
.bot_form .form-control, .bot_form .group_buttons button{
    height: 38px;
    font-size: 14px;
}
.bot_form .group_buttons {
    display: inline-block;
}
.bot_form .group_buttons button {
    padding: 6px 20px;
}
/*footer*/
.foot_info {
    display:table;
    width: 100%;
}
.soc_icon {
    display:table-cell;
    vertical-align: top;
}
.soc_icon span{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}
.soc_icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    bottom: -13px;
    position: relative;
    margin: 0 2px;
}
.vk {
    background: url('../img/vk.png') center center no-repeat;
}
.od {
    background: url('../img/od.png') center center no-repeat;
}
.facebook {
    background: url('../img/facebook.png') center center no-repeat;
}
.foot_info .towns {
    font-weight:bold;
}
.foot_info .towns, .foot_info .form_search {
    vertical-align: middle;
}
.end_footer {
    display: table;
    width: 100%;
}
.end_footer ul {
    display: table-cell;
    margin: 0;
    padding: 0 35px 0 0;
}
.end_footer ul li {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.end_footer ul li a {
    line-height: 22px;
    font-size: 12px;
    color:#2e2e2e;
}
.end_footer .contact {
    display:table-cell;
    width: 235px;
}
.copyr {

    color:#a8afb2;
    font-size:12px
}
.copyr span {
    font-size: 14px;
}
.carts {
    padding-right: 15px;
}
/*style landing page*/
/*slider*/
.slid_text_land {
    padding:50px 50px;
    color:#fff;
}
.width_text_slid {
    width:305px;
    margin-bottom: 63px;
}
.purpule_background {
    background: #cc3586;
    font-size: 16px;
    font-weight: bold;
}
.slid_text_land h3 {
    font-size: 60px;
    font-weight: bold;
    margin:0;
}
.slid_text_land small{
    font-size: 30px;
    font-weight: bold;
}
.slid_text_land .stock_cost {
    font-size: 60px;
    position: relative;
    top: 7px;
    left: 10px;
    line-height:56px;
}

/*end slider*/
/*main*/
.item_group {
    margin-bottom: 10px;
    margin-top: 10px;
}
.item_group img{
    max-width: 100%;
    height:250px
}
.item_group b {
    font-size: 28px;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.item_group b:before {
    content: '';
    position: absolute;
    z-index: 9;
    border: #cc3586 solid 2px;
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    width: 100%;
    bottom: 19px;
    left: -10px;
}
.item_group h4 {
    font-size: 14px;
    margin-bottom: 10px;
}
.item_group .stock_cost {
    font-size: 40px;
    line-height: 46px;
    top:-5px;
}
.item_center {
    width: 980px;
}
/*end main*/
/*general classes*/
.stock_cost {
    background: #cc3586;
    color:#fff;
    display: inline-block;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-weight: bold;
    padding: 0 15px;
    position: relative;
}